{{#unless @member}}
<section id="subscribe">
	<div class="text-center mx-auto max-w-xs md:max-w-2xl">
		<h2>Subscribe to {{@site.title}}</h2>
		<p>{{@custom.subscribe_homepage_text}}</p>
		<a class="subscribe-button mt-10" href="#/portal/signup">
			<div>Enter your email</div>
			<span class="btn btn-primary">Subscribe</span>
		</a>
	</div>
</section>
{{/unless}}