<article class="post-card">
	<a class="post-card-image-link" href="/post/">
		<img class="post-card-image" srcset="https://images.unsplash.com/photo-1493895565436-93db25637518?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;s=790b6956954445ea55257afb642c9d1a 300w,
								https://images.unsplash.com/photo-1493895565436-93db25637518?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;s=790b6956954445ea55257afb642c9d1a 600w,
								https://images.unsplash.com/photo-1493895565436-93db25637518?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;s=790b6956954445ea55257afb642c9d1a 1000w,
								https://images.unsplash.com/photo-1493895565436-93db25637518?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;s=790b6956954445ea55257afb642c9d1a 2000w" sizes="(max-width: 1000px) 400px, 800px" src="https://images.unsplash.com/photo-1493895565436-93db25637518?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;s=790b6956954445ea55257afb642c9d1a" alt="Sweet New Home" loading="lazy">
	</a>

	<div class="post-card-content">

		<a class="post-card-content-link" href="/post/">
			<header class="post-card-header">
				{{#unless hide_tags}}
				<div class="post-card-primary-tag">Updates</div>
				{{/unless}}
				<h2 class="post-card-title">Sweet New Home</h2>
			</header>
			<section class="post-card-excerpt">
				<p>My old blog The Developer Inside has a new home and a new name.    This new version use Ghost, a Node.js based blogging platform...</p>
			</section>
		</a>
	</div>
</article>