@import "./components/variables.scss";
@import "./components/mixins.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";

html {
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	color: $darkgrey;
	font-family: $system-font;
	font-size: 18px;
	font-weight: 400;
	line-height: 2.5rem;
	font-style: normal;
	letter-spacing: 0;
	text-rendering: optimizeLegibility;
	background: $platinum;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
}

h1 {
	font-family: $header-font;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.5rem;
	font-size: 6rem;
}