@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-normal text-primary-900 text-base leading-4 bg-primary-300;
	&.home-templatem,
	&.author-template  {
		@apply bg-primary-300;
	}
}
h1, h2, h3, h4, h5 {
	@apply font-header font-bold uppercase;
}

/*SVG ICON SYSTEM*/
.icon-inline {
	@apply inline-flex self-center;
}

.icon-inline svg, .icon-inline img {
	@apply w-4 h-4;
	fill: currentColor;
}

.icon-inline.baseline svg, .icon-inline img {
	@apply top-1;
	position: relative;
}

//BTN
.btn {
	@apply bg-primary-600 text-primary-50 text-sm font-bold py-2 px-4 rounded;
	&:hover {
		filter: brightness(0.8);
	}
}

.btn-primary {
	@apply text-primary-50;
	background-color: var(--ghost-accent-color) !important; 
	border-color: var(--ghost-accent-color) !important;
}
.btn-light {
	@apply bg-slate-500;
}

.badge {
	@apply rounded uppercase font-header text-xs tracking-wider font-bold text-primary-50 px-3 py-2 ;
	background-color: var(--ghost-accent-color); 
}