@import "./components/variables.scss";

#feed,
#featured,
#more {
	.grid {
		display: grid;
    grid-row-gap: 1.7rem;
    grid-column-gap: 1.7rem;
	}
	.card {
		@apply bg-primary-50 drop-shadow rounded overflow-auto;
		.card-image-top {
			width: 100%;
			height: 20vh;
			object-fit: cover;
		}
		.card-text {
			@apply text-base;
		}
		.badge-primary {
			background-color: var(--ghost-accent-color);
			&:hover {
				filter: brightness(0.8);
			}
		}
		.card-author {
			@apply w-6 h-6 overflow-hidden relative; 
			div {
				@apply w-full h-full bg-primary-50 bg-no-repeat bg-cover rounded-full border border-primary-400;
			}
			&:hover {
				@apply z-20;
			}
			&:first-child {
				@apply z-10;
			}

			&:nth-child(2) {
				z-index: 9;
			}

			&:nth-child(3) {
				z-index: 8;
			}

			&:nth-child(4) {
				z-index: 7;
			}

			&:nth-child(5) {
				z-index: 6;
			}
		}
		.card-footer {
			@apply font-header;
			span {
				@apply border border-r border-primary-300;
			}
		}
		&.no-image {
			.card-image-container { 
				min-height: 20vh;
				background-image: url(/assets/images/bg-photo.png);
				background-size: cover;
				background-position: center;
			}
		}
		.card-body {
			@apply leading-6 pt-4 pb-12;
			.card-excerpt {
				display: -webkit-box;
				overflow-y: hidden;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				word-break: break-word;
			}
		}
		.card-footer {
			@apply absolute w-full bottom-4 left-0;
		}
	}
}

#featured {
	.card {
		@apply bg-primary-100 rounded z-20 mb-10 drop-shadow border border-primary-50;
		.tag-featured {
			@apply z-10 left-4 right-auto; 
			svg {
				@apply w-4 h-4;
			}
			&:hover {
				filter: brightness(0.8);
			}
		}
		.card-image-link {
			@apply relative h-full;
			min-height: 380px;
		}
		.card-image-top {
			@apply absolute w-full h-full;

		}
		.card-body {
			.card-excerpt {
				-webkit-line-clamp: 6;
			}
		}
		.card-footer {
			background: none;
			border: none;
			.card-author {
				@apply w-10 h-10;
				div {
					@apply border-2;
				}
			}
		}
	}
}

#pagination { 
	@apply text-center;
}