.article {
	.article-content {
		.kg-card {
			@apply mb-10;
		}
		.kg-header-card-header, 
		.kg-header-card-subheader,
		.kg-product-card-title {
			&:before {
				content: '';
			}
		}
		.kg-product-card-container {
			@apply drop-shadow border-0 shadow-none bg-primary-100;
		}
	} 
}

.kg-image-card {
	img {
		border-radius: 0.3rem;
		width: 100%;
		height: auto;
	}
}
.kg-width-wide {
	img {
    width: calc(100% + 12rem);
    margin-left: -6rem;
		height: auto;
	}
	.kg-gallery-container {
		img {
			@apply rounded;
			transition: all .2s ease-in-out;
			&:hover {
				@apply drop-shadow;
				-webkit-transform: translateY(-0.5rem);
				transform: translateY(-0.5rem);
			}
		}
	}
}

.kg-width-full {
	display: inline-block;    
	max-width: none !important;
	width: auto !important;
	
	margin-left: -15px!important;
	margin-right: -15px !important;

	img {
		border-radius: 0;
		width: 100%;
	}
}

.kg-card figcaption {
	@apply pt-6 pl-6 text-center text-primary-900 text-base font-header;
}
.kg-card figcaption strong {
	color: var(--ghost-accent-color);
}


/* Highly specific styles for traditional Instagram embeds */
iframe.instagram-media {
	margin-top: 6vmin !important;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 0 !important;
}

iframe.instagram-media + script + :not([id]) {
	margin-top: 6vmin;
}


/* Galleries
/* ---------------------------------------------------------- */

/* When there galleries are mixed with images, reduce margin
between them, so it looks like 1 big gallery */
.kg-image-card + .kg-gallery-card,
.kg-gallery-card + .kg-image-card,
.kg-gallery-card + .kg-gallery-card {
	margin-top: 0.75em;
}

.kg-image-card.kg-card-hascaption + .kg-gallery-card,
.kg-gallery-card.kg-card-hascaption + .kg-image-card,
.kg-gallery-card.kg-card-hascaption + .kg-gallery-card {
	margin-top: 1.75em;
}

.kg-gallery-container {
	position: relative;
}

.kg-gallery-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.kg-gallery-image img {
	display: block;
	margin: 0;
	width: 100%;
	height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
	margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
	margin: 0 0 0 0.75em;
}


/* Bookmark Cards
/* ---------------------------------------------------------- */

/* These are styled links with structured data, similar to a
Twitter card. These styles roughly match what you see in the
Ghost editor. */

.article {

	.kg-bookmark-card,
	.kg-bookmark-publisher {
		position: relative;
		width: 100%;
	}

	.kg-bookmark-container,
	.kg-bookmark-container:hover {
		@apply flex font-normal bg-primary-100 rounded overflow-hidden drop-shadow mt-10; 
	}

	.kg-bookmark-content {
		@apply p-5;  
	}

	.kg-bookmark-title {
		@apply font-header text-xl;
	}

	.kg-bookmark-description {
		@apply text-base;
	}

	.kg-bookmark-metadata {
		@apply flex items-center mt-5 w-auto text-primary-500 text-base;
		& > span:nth-of-type(2) {
			@apply text-primary-700 font-normal;
		}
		
		& > span:nth-of-type(2):before {
			content: "•";
			@apply text-primary-500 mx-2;
		}
	}

	.kg-bookmark-icon {
		@apply w-5 ml-2;
	}

	.kg-bookmark-author,
	.kg-bookmark-publisher {
		@apply inline;
	}

	.kg-bookmark-publisher {
		@apply text-ellipsis overflow-hidden max-w-xs whitespace-nowrap block leading-7;
	}

	.kg-bookmark-thumbnail {
		min-width: 33%;
		@apply relative flex-grow;
		img {
			@apply w-full h-full object-cover absolute top-0 left-0 rounded-l rounded-b;
		}
	}
}



/* Card captions
/* ---------------------------------------------------------- */

.kg-width-full.kg-card-hascaption {
	@apply grid;
}

.fluid-width-video-wrapper {
	@apply relative overflow-hidden;
	padding-top: 56.25%;
	iframe,
	object,
	embed {
		@apply absolute top-0 left-0 w-full h-full;
	}
}
