/* Colours */
$blue: #196C87;
$green: #a4d037;
$purple: #ad26b4;
$yellow: #fecd35;
$red: #f05230;
$darkgrey: #333333;
$midgrey: #738a94;
$lightgrey: #c5d2d9;
$whitegrey: #e5eff5;
$pink: #fa3a57;
$brown: #a3821a;
$white: #ffffff;
$dracula-bg: #282a36;
$dracula-fg: #f8f8f2;

$platinum: #EBE9E4;
$laurel-green: #c8d5b9ff;
$cambridge-blue: #8fc0a9ff;
$green-sheen: #68b0abff;
$black-coral: #696d7dff;

/* Font Family */

$system-font: 'Open Sans' -apple-system, sans-serif, 'Helvetica Neue';
$header-font: 'Raleway', 'Open Sans', -apple-system,  sans-serif, 'Helvetica Neue';

:root{
  --ghost-accent-color: $black-coral;
}

$colors: (
  "blue": $blue,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "yellow": $yellow,
  "green": $green,
  "white": $white
);

$theme-colors: ( 
	"primary": $black-coral,
	"secondary": $green-sheen,
  "dark": $darkgrey,
  "light": $whitegrey,
  "warning": $yellow
);

//$link-color: var(--ghost-accent-color);